html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.98);
    color: white;
    margin: 20px;
}

h3, h1, a {
    color: #00b2d2;
}

h1 {
    text-align: center;
    margin: 20px;
}